# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/

# IDE/Editor
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Build files
build/
dist/
out/

# Dependency lock files
yarn.lock

.env
